.search-result {
  background-color: rgba(255, 255, 255, 0.85);
  color: #202020;
  cursor: pointer;
  font-size: 0.85rem;
  overflow: hidden;
  padding: 0.5rem;
  white-space: nowrap;

  &:hover {
    background-color: #F8F8F8;
    color: #202080;
    font-weight: bold;
  }

  &:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }

  &:not(:last-child) {
    border-color: #202020;
    border-style: solid;
    border-width: 0 0 1px 0;
  }
}
