h1 {
  font-family: "Roboto Condensed", "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 2em;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media print {
  h1 {
    display: none;
  }
}
