.search {
  padding: 0 1em;
  width: calc(100% - 28px - 3rem);
  z-index: 1;

  > input {
    background-color: rgba(255, 255, 255, 0.95);
    border-color: #4040C0;
    border-style: solid;
    border-width: 0 0 2px 0;
    box-sizing: border-box;
    color: #202020;
    font-family: "Roboto Condensed", "Roboto", sans-serif;
    font-size: 0.85rem;
    line-height: 1.75rem;
    padding: 0 0.5rem;
    width: 100%;
  }
}

.search-error {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0 0 0.25em 0.25em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #202020;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}
