body {
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  min-height: 100%;
  padding: 0;

  @media screen {
    background-color: #202020;
    color: #f0f0f0;
  }
}

html {
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
}
